USE [Tributacao]
GO
/****** Object:  StoredProcedure [dbo].[spDADOSEMPRESA]    Script Date: 07/28/2010 10:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDADOSEMPRESA]
	
@Usuario			VARCHAR(50)

AS
DECLARE
@i 					INT,
@nLinhas 			INT,
@Codigo				INT,
@Razao				VARCHAR(100),
@Fantasia			VARCHAR(60),
@InscEst			VARCHAR(20),
@Cnpj				VARCHAR(14),
@Cpf				VARCHAR(11),
@AreaTL				FLOAT,
@CodAtividade		INT,
@AtivExtenso		VARCHAR(1000),
@RegEspecial		TINYINT,
@Alvara				TINYINT,
@IsentoTaxa			TINYINT,
@Mei				TINYINT,
@IssEletro			TINYINT,
@DataAbertura		SMALLDATETIME,
@NumProcesso		VARCHAR(15),
@DataProcesso		SMALLDATETIME,
@DataEnc			SMALLDATETIME,
@NumProcEnc			VARCHAR(15),
@DataProcEnc		SMALLDATETIME,
@Encerrado			CHAR(1),
@Logradouro			VARCHAR(80),
@Numero				SMALLINT,
@DescBairro			VARCHAR(30),
@DescCidade			VARCHAR(50),
@SiglaUF			VARCHAR(2),
@CodLogr			INT,
@Complemento		VARCHAR(30),
@CodEsc				SMALLINT,
@NomeEsc			VARCHAR(50),
@Capital			FLOAT,
@Empregado			SMALLINT,
@RG					VARCHAR(15),
@Orgao				VARCHAR(50),
@NomeOrgao			VARCHAR(50),
@NumRegistro		VARCHAR(15),
@Horario			VARCHAR(30),
@HorarioExt			VARCHAR(200),
@EECodLogr			INT,
@EENomeLogr			VARCHAR(50),
@EENumero			SMALLINT,
@EEComplemento		VARCHAR(50),
@EEUF				VARCHAR(2),
@EECodCidade		SMALLINT,
@EECodBairro		SMALLINT,
@EEDescBairro		VARCHAR(50),
@EEDescCidade		VARCHAR(50),
@Simples			CHAR(1),
@CodigoAliq			TINYINT,
@CodEvento			TINYINT,
@DataEvento			SMALLDATETIME		

CREATE TABLE #EMPRESA(CODIGO INT,RAZAO VARCHAR(100),FANTASIA VARCHAR(60),INSCEST VARCHAR(20),CNPJ VARCHAR(14),CPF VARCHAR(11),
AREATL FLOAT,CODATIVIDADE INT,ATIVEXTENSO VARCHAR(1000),REGESPECIAL TINYINT,ALVARA TINYINT,ISENTOTAXA TINYINT,MEI TINYINT,ISSELETRO TINYINT,
DATAABERTURA SMALLDATETIME,NUMPROCESSO VARCHAR(15),DATAPROCESSO SMALLDATETIME,DATAENC SMALLDATETIME,NUMPROCENC VARCHAR(15),DATAPROCENC SMALLDATETIME,
ENCERRADO CHAR(1),LOGRADOURO VARCHAR(80),NUMERO SMALLINT,DESCBAIRRO VARCHAR(30),DESCCIDADE VARCHAR(50),SIGLAUF VARCHAR(2),CODLOGR INT,
COMPLEMENTO VARCHAR(30),CODESC SMALLINT,NOMEESC VARCHAR(50),CAPITAL FLOAT,EMPREGADO SMALLINT,RG VARCHAR(15),ORGAO VARCHAR(50),
NOMEORGAO VARCHAR(50),NUMREGISTRO VARCHAR(15),HORARIO VARCHAR(30),HORARIOEXT VARCHAR(200),EECODLOGR INT,EENOMELOGR VARCHAR(50),
EENUMERO SMALLINT,EECOMPLEMENTO VARCHAR(50),EEUF VARCHAR(2),EECODCIDADE SMALLINT,EECODBAIRRO SMALLINT,EEDESCBAIRRO VARCHAR(50),
EEDESCCIDADE VARCHAR(50),CODIGOALIQ TINYINT,SIMPLES CHAR(1),DATASUSPENSO SMALLDATETIME)

DECLARE CURSOR_TMP SCROLL CURSOR 
FOR

SELECT CODIGOMOB,RAZAOSOCIAL,NOMEFANTASIA,INSCESTADUAL,CNPJ,CPF,AREATL,CODATIVIDADE,ATIVEXTENSO,REGESPECIAL,ALVARA,ISENTOTAXA,MEI,
ISSELETRO,DATAABERTURA,NUMPROCESSO,DATAPROCESSO,DATAENCERRAMENTO,NUMPROCENCERRAMENTO,DATAPROCENCERRAMENTO,ENCERRADO,LOGRADOURO,NUMERO,
DESCBAIRRO,DESCCIDADE,SIGLAUF,CODLOGRADOURO,COMPLEMENTO,RESPCONTABIL,NOMEESC,CAPITALSOCIAL,QTDEEMPREGADO,RG,ORGAO,NOMEORGAO,NUMREGISTRORESP,
DESCHORARIO,HORARIOEXT,EECODLOGR,EENOMELOGR,EENUMERO,EECOMPL,EEUF,EECODCIDADE,EECODBAIRRO,EEDESCBAIRRO,EEDESCCIDADE,CODIGOALIQ 
FROM vwFULLEMPRESA3 INNER JOIN tbDADOSEMPRESA ON vwFULLEMPRESA3.codigomob = tbDADOSEMPRESA.codigo WHERE (tbDADOSEMPRESA.usuario = @Usuario)

OPEN CURSOR_TMP 

SELECT @i = 1 --Define inicio dos registros
SELECT @nLinhas = @@cursor_rows --Define final dos registros

WHILE @i <= @nLinhas --Executa enquanto existir registros
	BEGIN
		FETCH NEXT FROM CURSOR_TMP INTO @Codigo,@Razao,@Fantasia,@InscEst,@Cnpj,@Cpf,@AreaTL,@CodAtividade,@AtivExtenso,@RegEspecial,@Alvara,
		@IsentoTaxa,@Mei,@IssEletro,@DataAbertura,@NumProcesso,@DataProcesso,@DataEnc,@NumProcEnc,@DataProcEnc,@Encerrado,@Logradouro,@Numero,
		@DescBairro,@DescCidade,@SiglaUF,@CodLogr,@Complemento,@CodEsc,@NomeEsc,@Capital,@Empregado,@RG,@Orgao,@NomeOrgao,@NumRegistro,
		@Horario,@HorarioExt,@EECodLogr,@EENomeLogr,@EENumero,@EEComplemento,@EEUF,@EECodCidade,@EECodBairro,@EEDescBairro,@EEDescCidade,
		@CodigoAliq
		
		--SIMPLES NACIONAL
		IF TRIBUTACAO.dbo.RETORNASN(@CODIGO,GETDATE())=1
			SELECT @Simples='S'
		ELSE
			SELECT @Simples='N'

		--SUSPENSÃO
		DECLARE CURSOR_TMP2 SCROLL CURSOR 
		FOR
		SELECT CODTIPOEVENTO,DATAPROCEVENTO FROM MOBILIARIOEVENTO WHERE CODMOBILIARIO=@CODIGO ORDER BY DATAEVENTO DESC
		OPEN CURSOR_TMP2
		FETCH NEXT FROM CURSOR_TMP2 INTO @CodEvento,@DataEvento
		CLOSE CURSOR_TMP2
		DEALLOCATE CURSOR_TMP2

		IF @CodEvento<>2
			SELECT @DataEvento=Null


		SET NOCOUNT ON

		SELECT @i = @i + 1	
	END

CLOSE CURSOR_TMP
DEALLOCATE CURSOR_TMP

SELECT * FROM #EMPRESA

RETURN 
