USE [Tributacao]
GO
/****** Object:  Table [dbo].[tbDADOSEMPRESA]    Script Date: 07/28/2010 10:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbDADOSEMPRESA](
	[usuario] [varchar](50) NULL,
	[codigo] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF